body {
    background-color: #FFF1D6;
    font-family: sans-serif;
    line-height: 1.6;
}
h1{
    color: cadetblue;
    font-family: Georgia;
}
.sessao{
    border: 1px solid #CCC;
    border-color: #CCC, #999, #999, #CCC;
    margin-bottom: 20px;
    padding: 0px 10px 10px 10px;
    background-color: #FFF;
    border-radius:20px;
}        
.sessao h2{
    border-bottom: 1px dashed #CCC;
     
}      
img{
border: 1px solid #7E9F19;
padding: 2px;
margin: 0px 10px 0 0;
width: 200px;
float: left;
}

.clear {
    clear:both;
}





        